
a 
{
	color: #3786C2;
}
.header, .sidebar, .content, .footer { border: 1px solid #d5d5d5; }
.content, .sidebar, .footer { border-top: none; }
/* Core styles */
.header {
    position: relative; 
    width: 100%;
	background-color:#f5f5f5;
}
.logotext
{
	font-size:37px;
	font-weight:bold;
	font-variant:small-caps;
	#font-family:serif;
}
.content {
    position: relative;
    width: 100%;
    height: 80%;
}
.content-inner
{
	position:relative;
	float:left;
	width:675px;
}
.content-inner p
{
	margin-left:auto;
	margin-right:auto;
}
.sidebar {
	width:275px;
    position: relative;
    height: 100%;
    border-top: none;
	float:right;
	margin-right:-1px;
}
.side-header
{
	width:100%;
	text-align:center;
	background-color:#009973;
	color:white;
}
.clear
{
	width:1px;
	clear:both;
}
.footer {
    position: relative;
    width: 100%;
    height: 50px;
	background-color:#f5f5f5;
	text-align:center;
}
.header a
{
	text-decoration:none;
	color:#777777;
	font-size:17px;
	margin:8px;
}
.head_selected
{
	color:black;
	text-decoration:underline;
}
.header a:hover
{
	color:black;
}
.headlink a
{
	text-decoration:none;
	color:#777777;
	font-size:17px;
	margin:8px;
}
a.headlink_sel
{
	color:black;
	text-decoration:underline;
}
.headlink a:hover
{
	color:black;
}
.header td
{
	padding:0px;
}
body 
{
	margin: 0px;
	font-size:16px;
	font-family:sans-serif;
}
.outer
{
	width:1000px;
	margin: 0px auto;
}


